*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

html{
    font-family: 'Poppins', sans-serif;
font-family: 'Sono', sans-serif;
}

#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
padding: 10px;
}

#navbar ul li a:hover{
    padding: 15px;
    background-color: rgba(86, 180, 243, 0.8);
    border-radius: 8px;

    }

    /*Home Section*/

    #home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-bottom: 1px solid gray;
    }


    #home img{
        max-width: 100%;
        height: auto;
        border-radius: 100%;
        width: 200px;
    }

    #home .name, p{
        text-align: center;
    }

    #home .name h2{
        margin-bottom: 0.75rem;
    }

    #home .name p{
        opacity: 0.6;
        font-style: italic;
    }

    